<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>支付信息</title>
</head>
<body>
<div layout:fragment="content">
<div class="box-body no-padding">
    <table class="table table-striped">
        <tr>
            <th>交易号</th>
            <th>交易金额</th>
            <th>交易时间</th>
        </tr>
        <tr>
            <td th:text="${trade_no}"></td>
            <td th:text="${fee}"></td>
            <td th:text="${time}"></td>

        </tr>
    </table>
</div>
</div>
</body>
</html>